/* header.css */

.header {
  height: 650px;
  width: 100%;
  background-color: #52b69a;
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

