/* header.css */

/* Style for Header */
.header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: #519375;
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

/* Style for Avatar */
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* Style for Name */
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
  .header-container {
    display: flex;
    flex-direction: row; /* This positions .header and .content side by side */
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 440px;
    margin-top: 200px;
    margin-left: 25px;
  }
}