/* new-tweet.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-tweet {
  text-align: left;
}

.new-tweet textarea {
  display: flex;
  justify-content: center;
  border: none;
  width: 700px;
  height: 100px;
  background-color: inherit;
  padding: 1px;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  float: left;
  padding: 1px;
}

.new-tweet .counter {
  display: flex;
  justify-content: flex-end;
}