/* new-tweet.css */

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.new-tweet {
  text-align: left;
}

.new-tweet textarea {
  display: flex;
  justify-content: center;
  border: none;
  width: 700px;
  height: 200 px;
  background-color: inherit;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  float: left;
}

.new-tweet .counter {
  font-weight: bold;
  float: right;
}