/* tweet.css */

/* Style for Each Tweet */

.container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; 
  border: 3px solid rgb(56, 56, 56);
  padding: 10px;
  margin-bottom: 10px; /* Add space between tweets */
}

.tweets {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%; /* Set width to 100% of the parent container */
  padding: 5px;
}

.tweets:hover {
  transition: color 0.3s ease; /* transition effect to make the color change smoother */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* hover state on entire tweet with a shadow box applied */
}

header {
  display: flex;
  flex-direction: row; /* Arrange items horizontaly */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Ensures vertical alignment is centered */
  width: 100%; /* Set width to 100% of the parent container */
}

.user-info {
  display: flex;
  align-items: center; /* Align items vertically */
}

.fas {
  margin: 5px;
}

.tweet-username {
  display: flex;
  justify-content: flex-end; /* Align username to the end of the container horizontally */
  margin: 5px;
  color: rgb(106, 105, 105); /* Set text color */
}

.tweet-content {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: flex-start; /* Align content to the start of the container horizontally */
  font-size: 0.9em;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Center the icons vertically */
  width: 100%; /* Set width to 100% of the parent container */
  font-size: 0.8em;
  border-top: 3px solid rgb(106, 105, 105); /* Add border at the bottom with specified color */
}

.action-icons {
  display: flex;
  align-items: center; /* Align items vertically */
  font-size: 0.8em;
  color: rgba(18, 3, 188, 0.85)
}

.action-icons i:hover {
  transition: color 0.3s ease; /* transition effect to make the color change smoother */
  color: rgb(255, 0, 0); /* Change color of icon when hovered */
}
